.products-wrapper{
    position: relative;
    margin-top: 90px;
    width: 1180px;
}

.products-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    color: #1E0606;
}

.products-menu-list{
    margin: 20px -10px -10px;
    display: flex;
    flex-wrap: wrap;
    
}

.products-menu-image{
        width: 280px;
        height: 270px;
        
}

.products-menu-item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 25%;
    padding: 10px;
}  

.products-menu-description{
    display: flex;
    width: 580px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    
}

.products-menu-list-title{
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    margin: auto;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 192px;
    text-align: center;
}

.products-menu-list-title:hover{
    text-decoration-line: underline;
    cursor: pointer;
}

.products-menu-list-title:active{
    text-decoration-line: underline;
    cursor: pointer;
}

.pagination {
    display: flex;
    margin-top: 33px;
    margin-right: auto;
    
}

.pagination-button {
    position: relative;
    width: 37px;
    height: 37px;
    margin-right: 6px;
    background-color: #E2F1F8;
    background-size: 17px;
    background-repeat: repeat-x;
    appearance: none;
    padding: 5px 12px 6px;
}

.products-button-left{
    background-size: 17px;
    background-repeat: repeat-x;
    appearance: none;
    width: 17px;
    height: 28px;
    font-size: inherit;
    background-image: url(/images/buttons/Vector.svg);
    border: none;
    transform: rotate(180deg);
    background-color: #E2F1F8;
}

.products-button-right{
    background-size: 17px;
    background-repeat: repeat-x;
    appearance: none;
    width: 17px;
    height: 28px;
    font-size: inherit;
    background-image: url(/images/buttons/Vector.svg);
    border: none;
    background-color: #E2F1F8;
}

.products-button-left:focus,.products-button-right:focus{
    outline: none;
}

.products-button-left:hover,.products-button-right:hover{
    background-image: url(/images/buttons/Vector-hover.svg);
    cursor: pointer;
}

.products-button-left:active,.products-button-right:active{
    background-image: url(/images/buttons/Vector-active.svg);
}